.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login_content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
